body {
  background-color: #9B5DE5;
}

header h1 {
  text-align: center;
  font-size: 52px;
  color: #FEE440
}

main {
  text-align: center;
  margin-top: 100px;
}

/* Game Board */
#game-container {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  border: 12px solid #FEE440;
  grid-gap: 1px;
  background-color: #9B5DE5;
  border-radius: 5px;
}

#game-container div {
  background-color: #00F5D4;
  width: 100px;
  height: 100px;
}
