body {
  background-color: #3D405B;
  font-family: 'Roboto', sans-serif;
  color: #3D405B;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

header h1 {
  position: relative;
  font-size: 52px;
  text-align: center;
  z-index: 2;
}

.tic { color: #E07A5F; }
.tac { color: #F2CC8F; }
.toe { color: #81B29A; }

main {
  display: grid;
  justify-content: center;
  margin-top: 40px;
}

/* New Game modal */
.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: #3D405B;
  overflow: auto;
  z-index: 1;
}

.modal-content {
  max-width: 800px;
  margin: 135px auto 50px;
  padding: 16px;
  background-color: #F4F1DE;
  border: solid 1px rgba(0,0,0,.15);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: fadeIn;
  animation-duration: .3s;
}
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.modal h2 {
  margin: 0;
  text-align: center;
}

.sep {
  margin: 16px 0;
  border-bottom: solid 1px rgba(0,0,0,.15);
}

#start-game,
#reset,
#new-game,
#restart {
  padding: 8px 12px;
  border: solid 1px rgba(0,0,0,.15);
  color: #F4F1DE;
  cursor: pointer;
  transition: all .3s;
}

.modal .button-right {
  text-align: right;
}

#start-game {
  margin-left: 16px;
  background-color: #69A387;
}

#start-game:hover {
  background-color: #578E74;
  transition: all .3s;
}

#reset,
#new-game,
#restart {
  background-color: #F2CC8F;
  color: #3D405B;
}

#reset:hover,
#new-game:hover,
#restart:hover {
  background-color: #EDB862;
  transition: all .3s;
}

/* Characters creation */
.create-players {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 16px 0;
}

.custom-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 380px;
}

.custom-player h3 {
  margin: auto;
}

.custom-player:first-child {
  border-right: solid 1px rgba(0,0,0,.15);
}

.player-one-heading {
  display: flex;
  width: 160px;
  height: 50px;
  padding: 0 16px;
  background-color: #69A387;
  border: solid 1px rgba(0,0,0,.15);
  color: #F4F1DE;
  cursor: default;
  user-select: none;
}

/* Player two dropdown */
.player-two-heading {
  display: inline-block;
  position: relative;
}

.player-two-heading:hover .player-two-list {
  display: block;
}

.player-two-heading:hover .player-two-button {
  background-color: #DA603F;
  transition: all .3s;
}

.player-two-button {
  height: 50px;
  width: 160px;
  background-color: #E07A5F;
  color: #F4F1DE;
  border: solid 1px rgba(0,0,0,.15);
  cursor: pointer;
  transition: all .3s;
}

.player-two-list {
  display: none;
  position: absolute;
  width: 160px;
  background-color: #E07A5F;
  border: solid 1px rgba(0,0,0,.15);
  border-top: none;
  text-align: center;
  z-index: 1;
}

.player-two-list h3 {
  display: block;
  padding: 12px 16px;
  color: #F4F1DE;
  text-decoration: none;
  transition: all .3s;
}

.player-two-list h3:hover {
  background-color: #DA603F;
  cursor: pointer;
  transition: all .3s;
}

/* Name input */
.player-name-label {
  margin-top: 32px;
  margin-bottom: 16px;
}

.player-name {
  width: 215px;
  height: 50px;
  padding: 4px 8px;
  background-color: #F4F1DE;
  border: solid 1px rgba(0,0,0,.15);
  border-radius: 0;
  font-size: 22px;
  color: #3D405B;
  text-align: center;
  outline: none;
  transition: all .3s;
}

.player-name:focus {
  border: solid 1px #3D405B;
  transition: all .3s;
}

/* Appearance/marks */
.marks,
.appearances {
  display: flex;
  column-gap: 5px;
}

.mark,
.appearance {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #F2CC8F;
  border: solid 1px rgba(0,0,0,.15);
  font-size: 30px;
  cursor: pointer;
  transition: all .3s;
}

.mark:hover,
.appearance:hover {
  border-color: #3D405B;
  transition: all .3s;
}

.selected {
  border-color: #3D405B;
}

.rotate-45 {
  -moz-transform: rotate(-45deg) scale(-1, 1);
  -o-transform: rotate(-45deg) scale(-1, 1);
  -webkit-transform: rotate(-45deg) scale(-1, 1);
  transform: rotate(-45deg) scale(-1, 1);
}

.player-one-error,
.player-two-error {
  display: none;
  background-color: #E07A5F;
  margin: 16px 0 0;
  padding: 4px 6px;
  color: #F4F1DE;
}

/* Game Board */
#game-container {
  display: inline-grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1px;
  background-color: #3D405B;
  border: solid 16px #F2CC8F;
}

#game-container div {
  width: 100px;
  height: 100px;
  background-color: #F4F1DE;
}

.controls {
  text-align: center;
  margin-top: 16px;
}

#new-game {
  margin-left: 16px;
}

/* Media queries */
@media screen and (max-width: 833px) {
  .custom-player:first-child {
    border-right: none;
    border-bottom: solid 1px rgba(0,0,0,.15);
    padding-bottom: 16px;
  }
  .custom-player:last-child {
    padding-top: 16px;
    padding-left: 0;
  }
}
